<div class="body">
    <div class="hero">
        <div class="container">
            <div class="child-container">

                <h1 class="title">Registration</h1>
                <p class="subtitle">Glad to see you join us!</p>
                    <form class="form">
                        <input type="text" placeholder="Full Name" required />
                        <input type="email" placeholder="Email" required />
                        <input type="password" placeholder="Password" required />
                        <input type="password" placeholder="Confirm Password" required />
                            <label class="checkbox">
                                <input type="checkbox" required />
                                <span>Terms and Conditions</span>
                            </label>
                            <button type="submit" class="signup-btn" (click)="goToHome()">Sign up</button>
                    </form>
            </div>
        </div>
    </div>
</div>