<div class="login-page">
    <div class="container">
        <h1 class="title">Log In</h1>
        <p class="subtitle">Great to have you back!</p>
        <form class="form" (ngSubmit)="onLogin()" #loginForm="ngForm">
            <input type="email" placeholder="Username" required [(ngModel)]="username" name="username" />
            <input type="password" placeholder="Password" required [(ngModel)]="password" name="password" />
            <div class="forgot-password">
                <div class="checkbox">
                    <label class="checkbox">
                    <input type="checkbox" required />
                    <span>Remember me</span>
                    </label>
                </div>
                    <div class="forgot-password-text">
                        <a href="#"><p>Forgot Password?</p></a>
                    </div>
            </div>
            <button type="submit" class="signup-btn">Log In</button>
        </form>
    </div>
</div>
    
