<div class="main flex items-center justify-center w-screen">
    <div class="hero flex items-center justify-between w-full">
        <div class="logo flex items-center justify-center">
            <div>
                <p><a class="flex-row" routerLink="/landing">ONLY<span>BANDS</span></a></p>
            </div>
            <div class="list hidden md:flex">
                <li>Achievements</li>
                <li>Tutors</li>
                <li>Pricings</li>
                <li>Lessons</li>
            </div>
        </div>   
        <div class="flex items-center justify-center gap-10">
            <div class="flex gap-3">
                <div class="hidden lg:flex">
                    <button class="button" routerLink="/login">Log In</button>
                </div>
                <div class="hidden lg:flex">
                    <button class="register" routerLink="/register">Sign up</button>
                </div>  
            </div>

            <button> <svg nz-button (click)="toggleDrawer()" nzType="primary" class="menu" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"/></svg>       </button>
        </div>
     </div>
</div>

<!-- Drawer -->
<div class="drawer" [class.open]="isDrawerOpen">
  <div class="drawer-header">
    <h3>Menu</h3>
    <button (click)="toggleDrawer()">✕</button>
  </div>
  <ul class="drawer-content">

    <!-- login and sign u button -->
    <div class="buttons flex gap-3">
        <div class="flex lg:hidden ">
            <button class="button" routerLink="/login">Log In</button>
        </div>
        <div class="flex lg:hidden">
            <button class="register" routerLink="/register">Sign up</button>
        </div>  
    </div>

    <!-- menu options -->
    <div>
        <h1>Navigate</h1>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/Achievements">Achievements</a></li>
        <li><a routerLink="/tutors">Tutors</a></li>
        <li><a routerLink="/lessons">Lessons</a></li>
    </div>

    <p class="spacer"></p>

    <div>
        <h1>Navigate</h1>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/lessons">Lessons</a></li>
        <li><a routerLink="/tutors">Tutors</a></li>
        <li><a routerLink="/login">Login</a></li>
    </div>

    <p class="spacer"></p>
    
    <div>
        <h1>Navigate</h1>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/lessons">Lessons</a></li>
        <li><a routerLink="/tutors">Tutors</a></li>
        <li><a routerLink="/login">Login</a></li>
    </div>
  </ul>
</div>

<!-- Overlay -->
<div class="overlay" *ngIf="isDrawerOpen" (click)="toggleDrawer()"></div>

