<div class="main flex items-center justify-center">
    <div class="hero flex items-center justify-between w-full">
        <div class="logo flex items-center justify-center">
            <div>
                <p>ONLYBANDS</p>
            </div>
            <div class="list">
                <li>Achievements</li>
                <li>Tutors</li>
                <li>Pricings</li>
                <li>Lessons</li>
            </div>
        </div>   
        <div class="flex items-center justify-center gap-10">
            <button class="button">Log In</button>
            <svg class="menu" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"/></svg>    
        </div>
     </div>
</div>