.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;

    background-color: black;
}

.header {
    font-size: 4rem;
    background-color: var(--secondary-color1);
    color: var(--secondary-color2);

    @media screen and (max-width: 768px) {
        font-size: 2rem;
        
    }
}

.header-container > p {
    @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: var(--main-color2);
}

span:hover {
    cursor: pointer;
    color: var(--main-color1);
    transition: color 0.3s ease-in-out;
}   

.cards {
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card1 {
    background-color: var(--secondary-color2);
    width: 25rem;
    height: 37.5rem;
    color: var(--secondary-color1);
    border-radius: 1rem;
    padding: 2rem;

    @media screen and (max-width: 768px) {
        width: 90vw;
        
    }
}

.money{
    font-size: 150%;
}

.card1-header {
    font-size: 2rem;
    margin-top: 1rem;
    background-color: var(--secondary-color1);
}

.card1-text {
    font-size: 1rem;
    margin-bottom: auto;

        @media screen and (max-width: 768px) {
        font-size: 0.7rem;
        
    }
}

.card1 button {
    margin-top: auto;
    align-self: center;

    width: 8rem;
    height: 4rem;
    background-color: var(--main-color1);
    border-radius: 0.5rem;
    color: var(--secondary-color2);
    font-weight: bold;
}

.card1 button:hover {
    cursor: pointer;
    background-color: var(--main-color2);
    transition: background-color 0.3s ease-in-out;
}


.card1-header > h1, .card1-header > p, .card1-text > p, .card1-list > li  {
    background-color: var(--secondary-color2);
    color: var(--secondary-color1);
    
}

.card2-header > h1, .card2-header > p, .card2-text > p, .card2-list > li  {
    background-color: var(--main-color1);
    color: var(--secondary-color2);
}

.card2 {
    background-color: var(--main-color1);
    width: 25rem;
    height: 37.5rem;
    color: var(--secondary-color1);
    border-radius: 1rem;
    padding: 2rem;

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
}

.card2-header {
    font-size: 2rem;
    margin-top: 1rem;
    background-color: var(--secondary-color1);
}

.card2-text {
    font-size: 1rem;
    margin-bottom: auto;

        @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        
    }
}

.card2 button {
    margin-top: auto;
    align-self: center;

    width: 8rem;
    height: 4rem;
    background-color: var(--secondary-color2);
    border-radius: 0.5rem;
    color: var(--main-color1);
    font-weight: bold;

    
}

.card2 button:hover {
    cursor: pointer;
    background-color: var(--main-color2);
    transition: background-color 0.3s ease-in-out;
    color: var(--secondary-color2);
}

.footer {
    align-self: center;
}


