<div class="main">
    <div class="flex flex-col gap-10">
        <div class="header-container">
            <h1 class="header">Choose a Membership</h1>
            <p>Pick the most reasonable package for you! <span> Or redeem your invite Code!</span></p>
        </div>

        <div class="cards">
            <div class="card1 flex flex-col gap-6">
                <div class="card1-header">
                    <h1>Free</h1>
                    <p class="money">$0</p>
                    <p class="card1-text">Per user/month, billed annually</p>
                </div>
                <div>
                    <p>For those starting out</p>
                    <ul>
                        <li>5 Lessons a day</li>
                        <li>Access to Acoustic and Electric Guitar lessons</li>
                        <li>Access to song library</li>
                        <li>Favorite songs</li>
                    </ul>
                </div>
                <button>Start now</button>
            </div>
    
            <div class="card2">
                <div>
                    <h1>Premium</h1>
                    <p>$4.99</p>
                    <p>Per user/month, billed annually</p>
                </div>
                <div>
                    <p>For those starting out</p>
                    <ul>
                        <li>5Unlimited Lessons</li>
                        <li>Access to all instruments</li>
                        <li>Access to song library</li>
                        <li>Favorite songs</li>
                        <li>Downloadable chord diagrams and sheets</li>
                        <li>Downloadable tutorial videos</li>
                        <li>Access to Metronome and Drumbeats</li>
                        <li>Chat with tutors</li>
                    </ul>
                </div>
                <button>Get now</button>
            </div>
        </div>
        
        <div>
            <p>All prices in USD | FAQ | Terms and Conditions</p>
        </div>
    </div>
</div>