<div class="footer flex items-center justify-center w-screen">
    <div class="parent flex space-between w-4/5 h-1/2">
        <div class="child1">
            <div>
                <p>About us</p>
            </div>
            <li>Members</li>
            <li>Jobs</li>
            <li>Achievements</li>
        </div>
        <div class="child2">
            <div>
                <p>Communities</p>
            </div>
            <li>Tutors</li>
            <li>Groups</li>
            <li>Developers</li>
        </div>
        <div class="child3">
            <div>
                <p>Support Links</p>
            </div>
            <li>Terms and Conditions</li>
            <li>Support</li>
        </div>
        <div class="child4">
            <div>
                <p>Membership</p>
            </div>
            <li>Premium</li>
        </div>
    </div>
</div>