<div class="main gap-4">
    <div class="header text-[2rem] lg</div>:text-[2.5rem]">
        <p><span class="span1">Break the Rules</span>, <span class="span2">Not the Strings</span> — <span class="span3">OWN THE CROWD</span></p>
    </div>
    <div class="paragraph">
        <p>Tired of boring, old-school music lessons? OnlyBands teaches guitar, bass, drums, and keys the way you actually want to learn-by playing real songs from Day 1. Our step-by-step video lessons, personaized feedback, and band-style challenges make mastering an instrument faster, easier, and way more fun. Start rocking today!</p>
    </div>
    <button routerLink="/register" class="button">
            Sign Up For Free! 
    </button>
</div>