<!-- PC display -->
<div id="tutors" class="main hidden lg:block"> 
    <div class="flex flex-col justify-center items-center gap-4">
        <div class="text text-[0.8rem] lg:text-[1rem]">
            <p class="text2">OnlyBands’ teachers are young, relatable, and actually <span> toured with notable bands in the UAE’s university scene. </span> They’ve been where you are, so they skip the outdated drills and teach you the shortcuts, secrets, and songs that make playing fun from the first lesson. <span> No stuffy classrooms—just real musicians showing you how to sound like a pro, faster. </span></p>
        </div>
        <div class="tutor-cards">
            <div class="card" style="background-image: url(https://i.imgur.com/h5hxtxv.png);" >
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>L</span>
                        <span>I</span>
                        <span>N</span>
                        <span>Z</span>
                        <span>I</span>
                        <span>E</span>
                    </div>
                    <h2>Singer</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/r3gDhPG.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>H</span>
                        <span>A</span>
                        <span>N</span>
                        <span>N</span>
                        <span>A</span>
                        <span>H</span>
                    </div>
                    <h2>Singer</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/kmwv0dD.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>K</span>
                        <span>U</span>
                        <span>R</span>
                        <span>T</span>
                    </div>
                    <h2>Guitar</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/ZxWcSwv.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>D</span>
                        <span>A</span>
                        <span>N</span>
                    </div>
                    <h2>Guitar</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/IPESb5w.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>M</span>
                        <span>A</span>
                        <span>R</span>
                        <span>K</span>
                    </div>
                    <h2>Guitar</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/Vji56K9.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>P</span>
                        <span>A</span>
                        <span>T</span>
                        <span>R</span>
                        <span>I</span>
                        <span>C</span>
                        <span>K</span>
                    </div>
                    <h2>Bass</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mobile display -->
<div class="mbl-main flex lg:sm">
    <div class="mbl-hero flex flex-col justify-center items-center gap-9">
        <div class="mbl-text">
            <p class="mbl-texts text-2xl">Meet the Tutors</p>
            <span class="triangle"></span>
        </div>
        <div class="mbl-cards-list">
            
            <div class="mbl-card">
                <img src="https://i.imgur.com/xpQyYwW.png" alt="Linzie">
            </div>

            <div class="mbl-card">
                <img src="https://i.imgur.com/jpogqRO.png" alt="Hannah">
            </div>

            <div class="mbl-card">
                <img src="https://i.imgur.com/YSYccse.png" alt="Kurt">
            </div>

            <div class="mbl-card">
                <img src="https://i.imgur.com/u4soGw4.png" alt="Dan">
            </div>

            <div class="mbl-card">
                <img src="https://i.imgur.com/nWJCvry.png" alt="Mark">
            </div>

            <div class="mbl-card">
                <img src="https://i.imgur.com/M1Enw8C.png" alt="Patrick">
            </div>
        </div>
    </div>
</div>