<div class="main flex ">
    <div class="flex flex-col justify-center items-center gap-4">
        <div class="text">
            <p class="text2">OnlyBands’ teachers are young, relatable, and actually <span> toured with notable bands in the UAE’s university scene. </span> They’ve been where you are, so they skip the outdated drills and teach you the shortcuts, secrets, and songs that make playing fun from the first lesson. <span> No stuffy classrooms—just real musicians showing you how to sound like a pro, faster. </span></p>
        </div>
        <div class="tutor-cards">
            <div class="card" style="background-image: url(https://i.imgur.com/h5hxtxv.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>L</span>
                        <span>I</span>
                        <span>N</span>
                        <span>Z</span>
                        <span>I</span>
                        <span>E</span>
                    </div>
                    <h2>Singer</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/r3gDhPG.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>H</span>
                        <span>A</span>
                        <span>N</span>
                        <span>N</span>
                        <span>A</span>
                        <span>H</span>
                    </div>
                    <h2>Singer</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/kmwv0dD.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>K</span>
                        <span>U</span>
                        <span>R</span>
                        <span>T</span>
                    </div>
                    <h2>Guitar</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/ZxWcSwv.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>D</span>
                        <span>A</span>
                        <span>N</span>
                    </div>
                    <h2>Guitar</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/IPESb5w.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>M</span>
                        <span>A</span>
                        <span>R</span>
                        <span>K</span>
                    </div>
                    <h2>Guitar</h2>
                </div>
            </div>

            <div class="card" style="background-image: url(https://i.imgur.com/Vji56K9.png);">
                <div class="card-text gap-4">
                    <div class="text-design">
                        <span>P</span>
                        <span>A</span>
                        <span>T</span>
                        <span>R</span>
                        <span>I</span>
                        <span>C</span>
                        <span>K</span>
                    </div>
                    <h2>Bass</h2>
                </div>
            </div>
        </div>
    </div>
</div>