<div id="achievements" class="main">
    <div class="child gap-10">
        <div>
            <div class="desc flex gap-4 flex-col lg:flex-row">
                <img src="https://i.imgur.com/u7hVE34.jpeg" alt="">
                <div class="desc-text flex flex-col gap-4">
                    <h1>
                        Jashin - BITS pilani, Dubai 2022
                    </h1>
                    <p>
                        Our very first experience on a big stage
                        with a completely random crowd of
                        people from the hosting university, 
                        BITS pilani. Playing three songs for the
                        battle of the bands that night. 
                        Representing our home university 
                        BathSpa RAK.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="desc flex gap-4 flex-col-reverse lg:flex-row">
                <div class="desc-text flex flex-col gap-4">
                    <h1>
                        Night Market - Muraqabat, Dubai 2023
                    </h1>
                    <p>
                        Seeking more thrill and experience, we
                        started looking for more opportunities 
                        outside our university’s scope and 
                        dipped our toes into a well known 
                        Filipino seasonal event in Muraqabat, 
                        Dubai. Playing simple modern and
                        classic opm pop taught us valuable 
                        lessons from the OG’s who guided us 
                        throughout.
                    </p>
                </div>
                <img src="https://i.imgur.com/2HJEuG7.jpeg" alt="Nightmarket PSYCODE">
            </div>
        </div>
        <div>
            <div class="desc flex gap-4 flex-col lg:flex-row">
                <img src="https://i.imgur.com/sYMPhqf.jpeg" alt="">
                <div class="desc-text flex flex-col gap-4">
                    <h1>
                        Freshers - BathSpa, R.A.K. 2024
                    </h1>
                    <p>
                        One of our most popular performances
                        to date. Giving the new students of
                        BathSpa RAK an explosive welcome to
                        what they’re going to now call home in
                        the next 3 years. Using our forte in the
                        pop/punk genre, we definitely gave a
                        competition worthy performance.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="desc flex gap-4 flex-col-reverse lg:flex-row">
                <div class="desc-text flex flex-col gap-4">
                    <h1>
                        Carnival BotB - Manipal, Dubai 2025
                    </h1>
                    <p>
                        One of our most popular performances
                        to date. Giving the new students of
                        BathSpa RAK an explosive welcome to
                        what they’re going to now call home in
                        the next 3 years. Using our forte in the
                        pop/punk genre, we definitely gave a
                        competition worthy performance.
                    </p>
                </div>
                <img src="https://i.imgur.com/aVvXE3o.jpeg" alt="">
            </div>
        </div>
    </div>
</div>